body
{
	background-image: url(fond.jpg);/* image de fond pour toute la page */
	background-repeat: fixed;
}
h1
{
	text-align: center; /* Pour aligner le txt */
	font-size: 2em; /* Taille du txt */
}
.Titreprincipal
{
	font-family: Verdana;
	color: black; /* Couleur txt */
	border: 4px solid black;
	border-radius:15px;
	opacity: 0.8;

}
.photo
{
	float: left; /* Image flottante pour recalibré du paragraphe avec */
}
.cvcible
{
	text-align:center;

	font-weight: bold; /* Txt gras */ /* Souligné Txt */
	font-size: 3em;
}
.formation
{
	clear: both; /* Dégagement des cotés et retour à la ligne d'un new para après une img */
}
.text-bold   /* Texte en gras pour les dates plus compétences */
{
	font-weight: bold;
	font-size: 1.0em;
}

section
{
	color: black;
}
h2
{
color: black;
opacity: 0.6;
}
.titlecolor
{
background-color: rgb(44, 162, 245);
border: 3px inset rgb(17, 133, 214); 
}
.border
{
width:250px;
}